---
layout: default
titleAfter: Universe
priority: 1.0
---
<div class="page-header">

      <h2>Home</h2>
</div>

<h3>Types of Planets</h3>

<ol>
  {% for planet in site.data.planet-types %}
    <li>
        <a href="{{site.baseurl}}/planets/{{planet.folder}}/">{{planet.title}}</a>
        {{planet.content | markdownify }}
    </li>
    {% endfor %}
</ol>

<h3>Recently Discovered Planets</h3>

<ul>
    {% for news in site.categories.recently-discovered limit:2 %}
    <li>
        <a href="">{{news.title}}</a>
        <p>{{news.meta}}</p>
    </li>
    {% endfor %}
</ul>
