.masthead {
  padding: 1em;

  background: #000531 url("{{site.baseurl}}/img/nebula.jpg") no-repeat center center;
  background-size: cover;

  color: #fff;
}

.masthead-planets {
  background-image: url("{{site.baseurl}}/img/nebula-2.jpg");
}
